<script>
    export let restart;
</script>

<style lang="scss">
    .message {
        width: 30%;
        height: 50%;

        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;

        background: rgb(255, 171, 62);
        color: #fff;
        box-shadow: 0 0 12px rgba(0, 0, 0, 0.15);
        text-shadow: 0 0 3px rgba(0, 0, 0, 0.05);

        button {
            background: #fff;
            color: rgb(255, 171, 62);
            outline: none;
            border: none;
            padding: 1em 3em;
            font-weight: 600;
            border-radius: 4em;
            font-size: 1.2em;
            box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
            cursor: pointer;
        }
    }
</style>

<div class="message">
    <slot>
        <h1>YOU WIN!!!</h1>
        <button on:click={restart}>RESTART</button>
        <h4><small>Press shift + S to apply cheat code</small></h4>
    </slot>
</div>
