<script>
    import { onMount } from "svelte";
    import Message from "components/Message.svelte";

    export let noOfMines = 6;
    export let restart;
    let selected = [];
    let attemptsCount = 1;
    let gameOver = false;
    let cheatCode = [];
    let unlocked = false;

    let matrix = [];

    $: reset(noOfMines);

    const createMatrix = () => {
        matrix = new Array(noOfMines)
            .fill(false)
            .map(() => new Array(noOfMines).fill(false));
    };

    onMount(() => {
        createMatrix();
        createMines(noOfMines);
    });

    const getRandomInt = (max) => {
        return Math.floor(Math.random() * Math.floor(max));
    };

    const createMines = (mines) => {
        while (mines > 0) {
            let x = getRandomInt(noOfMines);
            let y = getRandomInt(noOfMines);

            if (!matrix[y][x]) {
                matrix[y][x] = true;
                mines--;
            }
        }
    };

    const getAdjacentElements = (x, y) => {
        return [
            [x + 1, y],
            [x - 1, y],
            [x, y + 1],
            [x, y - 1],
            [x - 1, y - 1],
            [x + 1, y + 1],
            [x - 1, y + 1],
            [x + 1, y - 1],
        ];
    };

    const getNoOfMines = (matrix = [], arrList = []) => {
        const hasMine = arrList.filter((arrItem) => {
            return (
                matrix[arrItem[0]] && [arrItem[1]] &&
                matrix[arrItem[0]][arrItem[1]] === true
            );
        });
        return hasMine.length;
    };

    const itemClicked = (y, x) => {
        if (matrix[y][x] === true) {
            gameOver = true;
            return;
        }

        selected = [...selected, `${"" + y}${"" + x}`];
        const adj = getAdjacentElements(y, x);
        matrix[y][x] = getNoOfMines(matrix, adj);
        attemptsCount++;
    };

    const renderMine = (matrix, yx) => {
        const { yId, xId } = yx;
        if (typeof matrix[yId][xId] === "number") return matrix[yId][xId];

        if (matrix[yId][xId] === true && unlocked) return "*";
        else return "";

        return "";
    };

    const reset = (_mines) => {
        gameOver = false;
        attemptsCount = 0;
        selected = [];
        createMatrix();
        createMines(noOfMines);
    };

    // Cheat Code
    const applyCheat = (event) => {
        let char = typeof event !== "undefined" ? event.key : "";

        // queue structure: keep latest 5 key presses
        if (cheatCode.length > 1) {
            [, ...cheatCode] = cheatCode;
        }

        cheatCode = [...cheatCode, String.fromCharCode(char)];

        // check cheat
        if ((cheatCode.toString() === "shift", "s")) {
            unlocked = !unlocked;
            reset(0);
            console.log("UNLOCKED...");
        }
    };
</script>

<style lang="scss">
    .mine-sweeper {
        display: grid;
        box-shadow: 0 0 16px rgba(0, 0, 0, 0.15);

        .block {
            width: 42px;
            height: 42px;
            border: solid 1px rgb(255, 216, 125);
            background: rgb(255, 171, 62);
            color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1em;
            font-weight: 500;
            cursor: pointer;
        }

        .block.active {
            background: rgb(158, 95, 12);
            box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.25);
        }
    }

    .mine-sweeper.col-6 {
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(6, 1fr);
    }

    .mine-sweeper.col-8 {
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(8, 1fr);
        
        .block {
            width: 40px;
            height: 40px;
        }
    }

    .mine-sweeper.col-12 {
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(12, 1fr);

        .block {
            width: 38px;
            height: 38px;
        }
    }
    h2 {
        color: #fff;
        text-shadow: 0 0 3px rgba(0, 0, 0, 0.05);
        margin: 0.6em 0;
    }


    footer {
        width: 40%;
        padding: 1.2em;
        background: #9a9584;
        box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.15);
        border: solid 3px #ada793;
        margin: 1.8em 0;

        display: flex;
        justify-content: space-around;
        align-items: center;

        button {
            background: #fff;
            color: rgb(255, 171, 62);
            outline: none;
            border: none;
            padding: 0.6em 2em;
            font-weight: 600;
            border-radius: 4em;
            font-size: 1.2em;
            box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
            cursor: pointer;
        }
    }
</style>

<svelte:window on:keypress={applyCheat} />
{#if !gameOver}
    <main class="mine-sweeper col-{noOfMines}">
        {#each matrix as yItems, yId}
            {#each yItems as _xItem, xId}
                <div
                    class="block {selected.includes('' + yId + xId) ? 'active' : ''}"
                    on:click={() => itemClicked(yId, xId)}>
                    {renderMine(matrix, { yId, xId })}
                </div>
            {/each}
        {/each}
    </main>
    <!-- <h6><small>Press shift + S to apply cheat code</small></h6> -->

    <footer>
        <h2>Attemps: {attemptsCount}</h2>
        <button on:click={reset}>RESTART</button>
    </footer>
{:else}
    <Message {restart} />
{/if}
