<script lang="ts">
	import Mine from "components/Mine.svelte";
	import Message from "components/Message.svelte";

	export let mines = 6;
	let showMines = false;

	const onSelectMines = (e) => {
		mines = +e.target.value;
	};

	const startGame = () => {
		if (mines) showMines = true;
	};

	const restart = () => {
		showMines = false;
	};
</script>

<style type="scss">
	.App {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background: #757060;

		h1 {
			font-weight: 500;
			font-size: 2.8em;
			color: #fff;
			text-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
			margin-top: 0;
		}

		button {
			background: #fff;
			color: rgb(255, 171, 62);
			outline: none;
			border: none;
			padding: 1em 3em;
			font-weight: 600;
			border-radius: 4em;
			font-size: 1.2em;
			box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
			cursor: pointer;
		}

		.radio-group{
			display: flex;
			flex-direction: column;
			justify-items: center;

			label{
				display: block;
				margin: 0.5em 0;
				font-weight: 500;
				font-size: 1.2em;
				cursor: pointer;
			}
		}
	}
</style>

<div class="App">
	<h1 class="app-title">Mine Sweeper</h1>
	{#if !showMines}
		<Message>
			<div class="radio-group">
				<label>
					<input type="radio" bind:group={mines} value={6} />
					Easy (6X6)
				</label>

				<label>
					<input type="radio" bind:group={mines} value={8} />
					Medium (8X8)
				</label>

				<label>
					<input type="radio" bind:group={mines} value={12} />
					Hard (12X12)
				</label>
			</div>
			<button on:click={startGame}>Start Game</button>
		</Message>
	{:else}
		<Mine {restart} noOfMines={mines} />
	{/if}
</div>
