html,
body {
  width         : 100%;
  height        : 100%;
  padding       : 0;
  margin        : 0;
  // font-family: 'Karla', sans-serif;
  font-family   : 'Quicksand', sans-serif;
  font-weight   : 400;

  * {
    box-sizing: border-box;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Roboto Slab', serif;
  }
}